<section class="footer">
  <button class="contact-button">Contacto</button>
  <div class="social-icons">
    <a href="mailto:info@mudev.es" target="_blank">
      <img src="./email.svg" alt="Email Icon" style="width: 50px; height: 50px;" />
    </a>
    <a href="https://www.linkedin.com/in/guillermoDev-/" target="_blank">
      <img src="./linkedin.svg" alt="LinkedIn Icon" style="width: 50px; height: 50px;" />
    </a>
    <a href="https://github.com/Guillermo-Munoz" target="_blank">
      <img src="./github.svg" alt="GitHub Icon" style="width: 50px; height: 50px;" />
    </a>
  </div>
  <hr class="divider" />
  <div class="legacy">
    <p>&copy; 2023 Guillermo Muñoz. All rights reserved.</p>
    <p>Designed and developed by Guillermo Muñoz.</p>
  </div>
</section>