<div class="container">
  <div class="left-section">
    <div class="name">
      <p>----- Guillermo Rodriguez</p>
    </div>
    <div class="hi">
      <p>Hi there,<br>I`m <strong class="gradient-text">Dev Web</strong>
      </p>
    </div>
    <div class="description">
      <p>🌱 **Developer en crecimiento**<br>
        Autodidacta por convicción y Desarrollador Web por pasión.
        Aquí documentaré mi viaje de aprendizaje, errores que valieron oro,
        y proyectos que demuestran cómo el código puede cambiar el mundo.
        Con muchas ganas de aprender y crecer en el mundo de la programación.</p>


    </div>
  </div>
  <div class="right-section">
    <img src="fp.png" alt="Imagen a la derecha" class="right-image">
  </div>
</div>