<nav>
  <div class="nav-container">
    <div class="nav-left">
      <h1 class="nav-title">Desarrollo Web</h1>
    </div>
    <button id="abrir" class="abrir">🟰</button>
    <div id="nav" class="nav-right">
      <button id="cerrar" class="cerrar">✖️</button>
      <ul class="nav-menu">
        <li><a class="menu" href="#home">Home</a></li>
        <li><a class="menu" href="#project">Project</a></li>
        <li><a class="menu" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>