<div class="container">

  <div class="right-section">
    <img src="fondo-estrellas.avif" alt="Imagen entrellas cobertura" class="right-cover">
    <img src="fondo-estrellas-2.avif" alt="Imagen entrellas cobertura" class="right-cover2">
    <img src="React.png" alt="Imagen a la derecha" class="right-image">

  </div>
  <div class="left-section">
    <div class="name">
    </div>
    <div class="hi">
      <p>Explorando nuevas tecnologías🧑‍💻 ⚛️</p>
    </div>
    <div class="description">
      <p>
        Soy un desarrollador web, listo para aportar mi entusiasmo y habilidades a proyectos
        innovadores. El CFGS DAW me aporto una base sólida en HTML, CSS, JavaScripty SQL.

        Si bien disfruto especialmente trabajar con React por su desarrollo declarativa, su flujo unidireccional y facil
        mantenimineto, estoy abierto a aprender y utilizar otros lenguajes y
        tecnologías. Soy una persona proactiva, creativa y con gran capacidad de aprendizaje, y me encanta asumir nuevos
        desafíos.</p>


    </div>
  </div>
</div>