/* You can add global styles to this file, and also import other style files */
body {

  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg, #000000, #08024b);
  background-repeat: no-repeat;
  color: #30b0e2;
  transition: background-color 0.5s;
  height: auto;
  background-size: cover;
  min-height: 100vh;
}